// -----------------------------------------------------------------------------
// Module: Scaffold
// -----------------------------------------------------------------------------
//

// Setup
// -----------------------------------------------------------------------------
//



// Module core
// -----------------------------------------------------------------------------
//
html {
  box-sizing: border-box;
}

*:before,
*:after,
* {
  box-sizing: inherit;
}

html,
body {
  font-size: 1em;
}


// Module variations
// -----------------------------------------------------------------------------
//



// Module helpers
// -----------------------------------------------------------------------------
//
